/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  display: block;
  width: 960px;
  padding: 1rem;
  margin: 3.125rem auto;
  font-size: 1.25rem;
  color: #000;
  text-align: center;
  background: #eee;
}
